## Want to look at some basic topic modeling

In [203]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import NMF

In [2]:
data = pd.read_pickle('first_iteration_cleaning.pkl')
data.head()

,username,text_no_emojis,text_lower
0,kurage_Ref,@math__like 都民,@math__like 都民
1,Live2teachLives,@HamillHimself The Force of math is not with you.,@hamillhimself the force of math is not with you.
2,NotSuperIsTaken,@JorgeHe18983518 @Roblox what math? what game ...,@jorgehe18983518 @roblox what math? what game ...
3,chayaelizabeth,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...
4,Nashrambl_,Just got 55 on my math test love it here smili...,just got 55 on my math test love it here smili...

Start by vectorizing

In [4]:
X = data['text_lower']

In [14]:
cv1 = CountVectorizer(stop_words = 'english')

X_cv1 = cv1.fit_transform(X)

pd.DataFrame(X_cv1.toarray(), columns = cv1.get_feature_names()).head()

,00,000,000円分をプレゼント,007,0125,02,02lexo_,02notes,03,031,...,중요해,찾아낼,출시party_popper,트와이스,해석학ㄱ,ｎ乗根は,ｎ個ある,ｱﾊﾊﾊﾊ,ﾁｰﾝ,ﾟωﾟ
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Lots of non_english columns.. should get rid of those, and also get rid of numbers

In [199]:
data2 = pd.read_pickle('second_iteration_cleaning.pkl')
data2.head()

,datetime,username,tweet_id,text,text_no_emojis,text_lower,text_lower_eng_only,text_no_underscore,clean_text,clean_english
0,2020-11-02 00:36:03,kurage_Ref,1323061272624033792,@math__like 都民,@math__like 都民,@math__like 都民,@math__like,@math like,like,like
1,2020-11-02 00:36:02,Live2teachLives,1323061269927251968,@HamillHimself The Force of math is not with you.,@HamillHimself The Force of math is not with you.,@hamillhimself the force of math is not with you.,@hamillhimself the force of math is not with you.,@hamillhimself the force of math is not with you.,the force of math is not with you,the force of math is not with you
2,2020-11-02 00:36:02,NotSuperIsTaken,1323061269000310784,@JorgeHe18983518 @Roblox what math? what game ...,@JorgeHe18983518 @Roblox what math? what game ...,@jorgehe18983518 @roblox what math? what game ...,@jorgehe @roblox what math? what game account?,@jorgehe @roblox what math? what game account?,roblox what math what game account,what math what game account
3,2020-11-02 00:36:02,chayaelizabeth,1323061268861825025,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...
4,2020-11-02 00:36:02,Nashrambl_,1323061267687333888,Just got 55 on my math test love it here 😍😍😍 /neg,Just got 55 on my math test love it here smili...,just got 55 on my math test love it here smili...,just got on my math test love it here smiling...,just got on my math test love it here smiling...,just got on my math test love it here smiling ...,just got on my math test love it here smiling ...

In [200]:
data2 = data2.drop_duplicates(subset = 'clean_english').reset_index(drop = True)
data2
data2.to_csv('math_tweets_no_duplicates.csv')

In [201]:
data2.head()

,datetime,username,tweet_id,text,text_no_emojis,text_lower,text_lower_eng_only,text_no_underscore,clean_text,clean_english
0,2020-11-02 00:36:03,kurage_Ref,1323061272624033792,@math__like 都民,@math__like 都民,@math__like 都民,@math__like,@math like,like,like
1,2020-11-02 00:36:02,Live2teachLives,1323061269927251968,@HamillHimself The Force of math is not with you.,@HamillHimself The Force of math is not with you.,@hamillhimself the force of math is not with you.,@hamillhimself the force of math is not with you.,@hamillhimself the force of math is not with you.,the force of math is not with you,the force of math is not with you
2,2020-11-02 00:36:02,NotSuperIsTaken,1323061269000310784,@JorgeHe18983518 @Roblox what math? what game ...,@JorgeHe18983518 @Roblox what math? what game ...,@jorgehe18983518 @roblox what math? what game ...,@jorgehe @roblox what math? what game account?,@jorgehe @roblox what math? what game account?,roblox what math what game account,what math what game account
3,2020-11-02 00:36:02,chayaelizabeth,1323061268861825025,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...
4,2020-11-02 00:36:02,Nashrambl_,1323061267687333888,Just got 55 on my math test love it here 😍😍😍 /neg,Just got 55 on my math test love it here smili...,just got 55 on my math test love it here smili...,just got on my math test love it here smiling...,just got on my math test love it here smiling...,just got on my math test love it here smiling ...,just got on my math test love it here smiling ...

In [202]:
data2.to_pickle('math_tweets_no_duplicates.pkl')

In [159]:
type(data2)

pandas.core.frame.DataFrame

### This first one includes words not in the nltk english corpus

In [113]:
X2 = data2['clean_text']

cv2 = CountVectorizer(stop_words = 'english')
X_cv2 = cv2.fit_transform(X2)

df2 = pd.DataFrame(X_cv2.toarray(), columns = cv2.get_feature_names())
df2.head()

,aa,aaaa,aaaaa,aaaaaaaaaaa,aaaaaahhhhh,aaaargh,aah,aahh,aaja,aajaye,...,zonish,zono,zoo,zoom,zoomer,zoomfeels,ztc,zyada,zyuohger,zzzzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## This next one includes only words in the nltk corpus, in an effort to only look at tweets in english

In [114]:
X3 = data2['clean_english']

cv3 = CountVectorizer(stop_words = 'english')
X_cv3 = cv3.fit_transform(X3)

df3 = pd.DataFrame(X_cv3.toarray(), columns = cv3.get_feature_names())
df3.head()

,aa,aba,abacus,abandon,ability,able,abolish,absent,absentee,absolute,...,yuck,za,zany,zero,zink,zodiac,zombie,zone,zoo,zoom
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
nmf = NMF(5)
nmf.fit(df3)

NMF(n_components=5)

Tweet topic matrix

In [117]:
W = nmf.transform(df3)

In [118]:
W.shape

(5559, 5)

sort by topic 0 at first, and then look at the tweets in that topic

In [119]:
pd.DataFrame(W).sort_values(0)

             0         1         2         3         4
2780  0.000000  0.000000  0.000000  0.000000  0.000000
3502  0.000000  0.178234  0.000000  0.000000  0.167192
1914  0.000000  0.000000  0.000000  0.090293  0.000000
1898  0.000000  0.000000  0.145289  0.000000  0.000000
1897  0.000000  0.000000  0.000000  0.090290  0.000000
...        ...       ...       ...       ...       ...
4784  0.429871  0.000000  0.000000  0.009228  0.000000
1976  0.438470  0.000000  0.000000  0.004872  0.000000
2031  0.459352  0.000000  0.000000  0.000000  0.000000
24    0.526635  0.000000  0.000000  0.012483  0.105953
3493  0.537551  0.000000  0.000000  0.011886  0.000000

[5559 rows x 5 columns]

In [120]:
top5 = [5275, 5263, 5349, 26, 3027]
for tweet in X3.iloc[top5]:
    print(tweet)

am i just in my math exam but i know it wrong face with smiling
the math is there is if he his watch county that will be a big indicator
ko di ko mo pa face
de moyenne en math de
dont fail well give you as in your classes for pay essay homework assignment chemistry code python c pay computer science class pay research paper biology pay psychology math pay statistics assignment help a grade college help

word topic matrix

In [121]:
H = nmf.components_
H

array([[4.74689327e-03, 0.00000000e+00, 6.86578759e-03, ...,
        1.81550842e-03, 2.63039998e-06, 2.55736870e-02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 4.94010830e-04],
       [0.00000000e+00, 1.49278767e-02, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.38124567e-03, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 7.33801764e-04]])

In [122]:
H.shape

(5, 5088)

In [123]:
term_topic_matrix = pd.DataFrame(H, columns = cv3.get_feature_names()).T
term_topic_matrix

                0    1         2         3         4
aa       0.004747  0.0  0.000000  0.000000  0.003381
aba      0.000000  0.0  0.000000  0.014928  0.000000
abacus   0.006866  0.0  0.000000  0.000000  0.000000
abandon  0.001779  0.0  0.000000  0.000000  0.000000
ability  0.003409  0.0  0.000000  0.000000  0.000000
...           ...  ...       ...       ...       ...
zodiac   0.001043  0.0  0.004406  0.000000  0.000000
zombie   0.008806  0.0  0.000000  0.000000  0.000000
zone     0.001816  0.0  0.000000  0.000000  0.000000
zoo      0.000003  0.0  0.000000  0.000000  0.000000
zoom     0.025574  0.0  0.000494  0.000000  0.000734

[5088 rows x 5 columns]

In [124]:
term_topic_matrix.sort_values(0, ascending = False)

                    0         1         2         3         4
math         8.756515  0.361831  0.288875  1.541764  1.098677
like         0.755103  0.000000  0.000000  0.000000  0.000000
just         0.752603  0.000000  0.042118  0.000000  0.000000
dont         0.564395  0.011390  0.000000  0.000000  0.000000
good         0.417028  0.000000  0.020276  0.000000  0.000000
...               ...       ...       ...       ...       ...
tanan        0.000000  0.000000  0.000000  0.019091  0.000000
tanga        0.000000  0.000000  0.002426  0.033736  0.000000
lalo         0.000000  0.000000  0.011785  0.042917  0.000000
prompt       0.000000  0.020766  0.000000  0.000000  0.000000
collaborate  0.000000  0.000062  0.000000  0.000051  0.000130

[5088 rows x 5 columns]

## Try the TFIDF vectorizer

#### Start by adding the word math to the stop words

In [125]:
from sklearn.feature_extraction import text

stop_words = list(text.ENGLISH_STOP_WORDS)
stop_words.append('math')

In [126]:
type(stop_words)

list

In [127]:
'math' in stop_words

True

In [160]:
#just want to look at the clean english column
X3 = data2['clean_english']

#tokenize
tfid = TfidfVectorizer(stop_words = stop_words)
X_tfid = tfid.fit_transform(X3)

#put in a df
df4 = pd.DataFrame(X_tfid.toarray(), columns = tfid.get_feature_names())
df4.head()

,aa,aba,abacus,abandon,ability,able,abolish,absent,absentee,absolute,...,yuck,za,zany,zero,zink,zodiac,zombie,zone,zoo,zoom
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [129]:
df4['math'] #check that 'math' was removed

KeyError: 'math'

In [161]:
#fit an NMF to it
nmf2 = NMF(5, max_iter = 700)
nmf2.fit(df4)

NMF(max_iter=700, n_components=5)

In [162]:
#W2 is the matrix of topics and the terms associated with each topic
W2 = nmf2.transform(df4)

In [163]:
W2.shape

(5559, 5)

## Topic 0
Sort this by topic 0 and see what we get

In [164]:
thing = pd.DataFrame(W2).sort_values(0)
thing

             0         1         2         3         4
0     0.000000  0.000000  0.000000  0.171330  0.000000
3109  0.000000  0.000000  0.000000  0.028548  0.000000
3110  0.000000  0.003116  0.000757  0.030335  0.000000
3115  0.000000  0.000334  0.000181  0.000777  0.000000
3117  0.000000  0.078690  0.000000  0.049490  0.000000
...        ...       ...       ...       ...       ...
1838  0.235375  0.000000  0.000000  0.000000  0.000099
4391  0.255200  0.000000  0.000000  0.000000  0.000000
4890  0.258671  0.000000  0.000000  0.000000  0.000000
4156  0.258671  0.000000  0.000000  0.000000  0.000000
4265  0.262878  0.000000  0.000000  0.000000  0.000000

[5559 rows x 5 columns]

In [165]:
new_top5 = thing.iloc[-5:].index

In [166]:
new_top5

Int64Index([1838, 4391, 4890, 4156, 4265], dtype='int64')

In [167]:
for tweet in X3.iloc[new_top5]:
    print(tweet)

ako sa ko sa math
ko sa math na ako
sa math na ko
sa ko math na
na ko sa math sa

## Topic 1

In [168]:
topic_1 = pd.DataFrame(W2).sort_values(1)
topic_1

             0         1    2         3         4
0     0.000000  0.000000  0.0  0.171330  0.000000
2921  0.000000  0.000000  0.0  0.060664  0.000000
2922  0.177773  0.000000  0.0  0.000000  0.000000
2924  0.000843  0.000000  0.0  0.000101  0.000000
2925  0.000000  0.000000  0.0  0.000303  0.000000
...        ...       ...  ...       ...       ...
3954  0.000000  0.325721  0.0  0.000000  0.008953
530   0.000000  0.325721  0.0  0.000000  0.008953
1472  0.000000  0.325721  0.0  0.000000  0.008953
546   0.000000  0.325721  0.0  0.000000  0.008953
4672  0.000000  0.325721  0.0  0.000000  0.008953

[5559 rows x 5 columns]

In [169]:
topic1_top5 = topic_1.iloc[-100:].index

In [170]:
for tweet in X3.iloc[topic1_top5]:
    print(tweet)

horrible math is face with heart
may ka sa face heart
may math pa grinning face with big
out of of us suck at math too grinning face
e eu pleading face
me w my c in math smirking face
smirking face
trump does not know math slightly smiling face
a math geek slightly smiling face
i cant math grinning face with sweat
all u will see on my search is for my math beaming face with smiling with of joy
in math done problem cat face with of joy
math in class smiling face with heavy check mark math pensive face with question mark selector
clown face
dah pensive face aku pon math cat face
math nako face
kung face to face yon baka di pa grade ko basta math crying face
math yan slightly smiling face na
sa math pleading face
math relieved face
mag or sa math slightly smiling face
am i just in my math exam but i know it wrong face with smiling
mine math math face without mouth
damn dont gas me i wish i were smart enough for or math cat face with of face with of joy
crying face
at math crying face
ta beaming face with smiling
i have a math test tomorrow and have no clue what we learning about smiling face with hearts i love failing woozy face
i cant math leave me alone smiling face with hearts
math ta face with of joy
wish i had a that would do my math for face
i suck at math but i with face
ako sa math relieved face yan before that review cat face with of joy
sa math face with big
pensive face pensive face stress pensive face dari pensive face math pensive face
ta slightly smiling face
i can do cat face with heart
i need someone to finish these math for me on and smiling face
dee up guru kalo math beaming face with smiling face with smiling
math smiling face with halo
not math class make sure taking i know you can go through the rest of the day beaming face with smiling face with smiling
i hate so much grinning face math is where it is at weary face raising
i didnt even take add face with smiling
naga answer ako sa math may class sa na in ko send help grinning face with big face with big face with big face with big face with big
thats math for you face with of joy
pleading face q
pleading face
i love math cant express how much lying smiling face with heart face with heart
lalo ko math face with big face with big face with big
m see why math need face with of with of joy
my nephew math just like his auntie thats my twin smiling face with heart face with heart face with heart
who is yawning with rolling face in math my solution heavy division face selector in history my king face in art my canvas artist face in science my face with tongue in geography my world globe showing head
any homework do my math for me smiling cat face with heart
sa score ko sa math smiling face with heart squinting face
math i just that thanks face with of crying face
di ko math face with of crying face
ako na face si good face
only a math person could see that smiling face with
math face with rolling
math grinning face with big face with big face with big
naa anna face with big smiling face with heart
why face selector
girl sorry just good at math smiling face with face with hearts
math slightly smiling face
who is yawning with rolling face in math my solution heavy division face selector in history my king face in art my canvas artist face in science my face with tongue in
smiling face with hearts
failing math and that class is mandatory cat face with of face with of face with of joy i hate college
ko math face
i handed in my math a whole hour and before its due smiling face with heart face with heart face with heart
math smiling face with smiling
smiling face with smiling
para sa math face ko face
are u in math dont face with
just got on my math test love it here smiling face with heart face with heart face with heart
ako math smiling face
math face with of with of with of joy
face with of joy
my math face with of joy
by math grinning face with face with sweat
i know my math teacher video chat tomorrow at am expressionless face girl i havent up before since i cant even what day is it grinning face with face with face with face with sweat
char ako subject ko math smiling face with face with face with hearts
math since face di ako face
gen math na smiling face with face with hearts
but math smiling face with heart face with heart
d mo sa math ni sir gab smiling face with face with face with face with
ako sa math grinning face with smiling face with smiling face with smiling face with smiling face with smiling face with smiling
math smiling face
nothing math smiling face with
smiling face with
face c a na face
math ta smiling face with smiling face with smiling face face selector
just got a on my math face with face with face with
math is just so face face
with math a face
math face with
math un face
face
after math face
math face
face or math

In [ ]:
#write a function to streamline this
def top_topic_tweets(df, topn, topic, X3 = X3):
    topic_1 = df.sort_values(topic, ascending = False)
    topic_topn = topic_1.iloc[:topn].index
    return X3.iloc[topic_topn]

## Topic2

In [172]:
top_topic_tweets(pd.DataFrame(W2), 50, 2)

3734    assignment help original math algebra calculus...
911     assignment help original math algebra calculus...
4848    essay pay assignment homework kindly for busin...
1441    kindly us for economics math algebra calculus ...
566     pay us to do your university math algebra calc...
153     kindly me for business law math algebra calcul...
123     kindly me for business law math algebra calcul...
2445    pay us to do your assignment for quality busin...
3743    assignment help original math algebra calculus...
2802    kindly me for business law math algebra calcul...
828     kindly me for business law math algebra calcul...
2524    kindly us for economics math algebra calculus ...
3848    original math calculus statistics finance nurs...
3730    let me ace your in the following business law ...
3901    get assignment help original math algebra calc...
3599    assignment help original math algebra calculus...
3765    assignment help original essay pay essay write...
760     kindly for math algebra calculus statistics bi...
1195    get quality grade now dissertation business la...
110     kindly for help in the following grade busines...
884     kindly me for assistance in business law math ...
3673    assignment help original essay pay essay write...
3642    let me ace your in the following business law ...
3027    dont fail well give you as in your classes for...
4940    contact us for the best assignment help pay es...
5448    an assignment and you probably need help math ...
2369    kindly me for business law math algebra calcul...
3404    we have the best to ace your fall classes math...
2390    pay us to help you out with your academic essa...
3450    we have the best to ace your fall classes math...
1108    i deliver quality grade business law math alge...
2345    pay us to help you out with your academic essa...
2319    pay us to help you out with your academic essa...
2097    we you the best fall class pay math chemistry ...
2271    an assignment and probably need help essay due...
343     pay us business law math calculus statistics f...
1175    hello i deliver quality grade business law mat...
824     exquisite solution to your academic fall class...
897     stuck with statistics assignment homework assi...
833     pay us to do your essay and for you sociology ...
2779    we deliver quality grade business law math alg...
1035    hello i deliver excellent grade business law m...
1444    let our help you out with your academic essay ...
3725    reach out to us today for biology fall classes...
2443    an assignment and probably need help essay due...
3703    reach out to us today for biology fall classes...
1160    deliver quality grade business law math algebr...
4262    pay essay business math lab homework pay math ...
888     have an essay due us for math physics essay he...
1387    hello i deliver excellent grade lab report bus...
Name: clean_english, dtype: object

In [173]:
X3.iloc[3734]

'assignment help original math algebra calculus statistics finance nursing essay due assignment class research paper dissertation project marketing physics biology chemistry geometry homework pay someone'

In [174]:
X3.iloc[911]

'assignment help original math algebra calculus statistics finance essay essay due assignment class research paper dissertation project marketing physics biology chemistry geometry homework pay someone'

In [176]:
H2 = nmf2.components_
H2

array([[4.14155763e-05, 1.30500913e-02, 0.00000000e+00, ...,
        4.25273795e-05, 0.00000000e+00, 0.00000000e+00],
       [3.72591176e-04, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 7.90430634e-03],
       [1.92274082e-03, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 5.04672912e-03],
       [1.44811907e-03, 0.00000000e+00, 9.50476010e-03, ...,
        2.09328220e-03, 1.21673886e-04, 1.07823035e-02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [177]:
H2.shape

(5, 5087)

In [181]:
term_topic_matrix = pd.DataFrame(H2, columns = tfid.get_feature_names()).T

In [185]:
term_topic_matrix.sort_values(2, ascending = False).head(20)

                     0         1         2         3         4
pay           0.000000  0.000000  1.078782  0.000000  0.000000
homework      0.000000  0.003643  0.844148  0.069212  0.019373
class         0.014950  0.019051  0.821043  0.221107  0.037689
essay         0.000000  0.000000  0.768144  0.000000  0.000000
assignment    0.001293  0.000000  0.684975  0.000000  0.002986
help          0.048428  0.000000  0.672584  0.113974  0.000000
calculus      0.000000  0.000000  0.666674  0.000000  0.001072
paper         0.000000  0.000000  0.647131  0.000000  0.000000
statistics    0.000000  0.000000  0.580388  0.000000  0.000000
biology       0.000000  0.000000  0.519150  0.000000  0.000000
research      0.000000  0.000000  0.455947  0.000000  0.000000
algebra       0.000000  0.000000  0.455748  0.000000  0.003654
physics       0.003328  0.000000  0.450265  0.000000  0.000000
chemistry     0.000000  0.000000  0.446985  0.000000  0.013214
nursing       0.000000  0.000000  0.423686  0.000000  0.000000
dissertation  0.000000  0.000000  0.405216  0.000000  0.000000
business      0.020629  0.023551  0.305816  0.000000  0.000000
marketing     0.000000  0.000000  0.279718  0.000000  0.000000
project       0.000000  0.000000  0.273674  0.000000  0.000519
geometry      0.000000  0.000000  0.263876  0.000000  0.000000

In [186]:
term_topic_matrix.sort_values(3, ascending = False).head(20)

                   0         1         2         3         4
dont        0.000000  0.000000  0.000000  1.016874  0.000000
like        0.000000  0.000000  0.000000  0.927968  0.000000
just        0.000000  0.062426  0.000000  0.783523  0.000000
good        0.000000  0.000000  0.000000  0.696199  0.000000
know        0.000000  0.000000  0.000000  0.499657  0.005805
did         0.000000  0.000000  0.000000  0.442487  0.000000
trump       0.000681  0.000000  0.000000  0.305846  0.000000
right       0.000000  0.000000  0.000000  0.297866  0.000000
doing       0.000000  0.000000  0.001628  0.296247  0.011738
hate        0.000000  0.000621  0.000000  0.276347  0.170175
understand  0.000000  0.000000  0.000000  0.259442  0.013504
teacher     0.025067  0.006774  0.002976  0.258520  0.084478
think       0.000000  0.001399  0.000000  0.247693  0.000000
class       0.014950  0.019051  0.821043  0.221107  0.037689
need        0.000000  0.023230  0.146361  0.219783  0.000000
people      0.000000  0.009905  0.000000  0.217211  0.000000
science     0.006984  0.013356  0.075809  0.197376  0.000000
test        0.044826  0.048124  0.012621  0.187873  0.042929
really      0.002413  0.000000  0.000000  0.187390  0.000000
want        0.000000  0.000070  0.000000  0.187022  0.020053

## Topic 3

In [187]:
top_topic_tweets(pd.DataFrame(W2), 50, 3)

2065    is a just like math you either get it or you dont
5391     who is good at math i need help like i dont know
1158                                    math just dont be
2842                  neither i just dont have understand
5146    i dont think the should ever stop being but i ...
174                      i still dont know how to do math
4462                          they dont know what math is
4826                 because you dont know how to do math
1333                      i dont know how they do math in
1520                            so they also dont do math
4808                             we dont do math well but
4737                  math i mean math but i dont like my
2555    its not that i dont get math its that i dont w...
5278                              good just in math class
1349                               like you did some math
3139    dont u have like a math test to fail or something
2433                                     i like this math
3101                                   on you i like math
0                                                    like
951                                     we like this math
4019                                         what it like
1135    i still dont know how i my like pretty sure i ...
4327    does anyone know how to do this i dont get it ...
1091                        i dont know math someone help
2027                             who dont know basic math
2902    is a top in the dont me just go learn some mat...
957                            i dont think your math out
5367    the way i know good at math but i just cant th...
4617    i hate that some of my math group just dont do...
4337     that like my math word problem i dont want to do
5437                                 dont understand math
5479                i dont understand anything about math
4373                         no we cant we dont need math
4146    i hate my math and science teacher like is she...
5537    i hate math just fail over math i dont even ne...
1755    i have a math quiz and i dont know how to do t...
5157    we did our math and we did it well we knew thi...
5135              no they dont understand math or science
1592    stop me how are you i literally dont know i ju...
4593                                            just math
1094                        he like a math teacher i cant
794     think take this math test and lay down not lik...
5443    young people do not have the time and money to...
2194                  too bad you dont understand math or
1031    did they teach you math or did you think we ar...
4623                             me at math class be like
753                   oh no maam math dont math like that
2991    me to my advisor today i just dont like math e...
2936         incase dont feel like doing math either this
142                          are u in math dont face with
Name: clean_english, dtype: object

look at the top words in topic 4

In [189]:
term_topic_matrix.sort_values(4, ascending = False).head(20)

                  0         1         2         3         4
crying     0.000000  0.000000  0.000000  0.000000  2.421176
loudly     0.000000  0.000000  0.004718  0.000000  0.930118
face       0.000000  2.597037  0.000000  0.000000  0.458584
hate       0.000000  0.000621  0.000000  0.276347  0.170175
teacher    0.025067  0.006774  0.002976  0.258520  0.084478
hard       0.000000  0.000000  0.001024  0.150735  0.077197
today      0.005940  0.006256  0.012528  0.122649  0.057425
skin       0.065034  0.006957  0.000000  0.077062  0.053893
light      0.066096  0.000000  0.000000  0.069759  0.048463
ako        0.877012  0.045627  0.004173  0.000000  0.047818
currently  0.000000  0.000000  0.010539  0.015240  0.046603
gen        0.560242  0.051845  0.000000  0.001438  0.044990
tone       0.057533  0.003625  0.000318  0.065456  0.044716
lest       0.000000  0.005479  0.000000  0.000000  0.043059
test       0.044826  0.048124  0.012621  0.187873  0.042929
forgot     0.000000  0.000000  0.004041  0.020300  0.041460
la         0.008288  0.018875  0.000360  0.001552  0.039016
class      0.014950  0.019051  0.821043  0.221107  0.037689
en         0.001869  0.011115  0.006918  0.000562  0.036960
fist       0.009039  0.000141  0.001440  0.006443  0.029373

In [191]:
data2.head(3)

,level_0,index,datetime,username,tweet_id,text,text_no_emojis,text_lower,text_lower_eng_only,text_no_underscore,clean_text,clean_english
0,0,0,2020-11-02 00:36:03,kurage_Ref,1323061272624033792,@math__like 都民,@math__like 都民,@math__like 都民,@math__like,@math like,like,like
1,1,1,2020-11-02 00:36:02,Live2teachLives,1323061269927251968,@HamillHimself The Force of math is not with you.,@HamillHimself The Force of math is not with you.,@hamillhimself the force of math is not with you.,@hamillhimself the force of math is not with you.,@hamillhimself the force of math is not with you.,the force of math is not with you,the force of math is not with you
2,2,2,2020-11-02 00:36:02,NotSuperIsTaken,1323061269000310784,@JorgeHe18983518 @Roblox what math? what game ...,@JorgeHe18983518 @Roblox what math? what game ...,@jorgehe18983518 @roblox what math? what game ...,@jorgehe @roblox what math? what game account?,@jorgehe @roblox what math? what game account?,roblox what math what game account,what math what game account
3,3,3,2020-11-02 00:36:02,chayaelizabeth,1323061268861825025,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...,never forget me in high school being a vegetar...
4,4,4,2020-11-02 00:36:02,Nashrambl_,1323061267687333888,Just got 55 on my math test love it here 😍😍😍 /neg,Just got 55 on my math test love it here smili...,just got 55 on my math test love it here smili...,just got on my math test love it here smiling...,just got on my math test love it here smiling...,just got on my math test love it here smiling ...,just got on my math test love it here smiling ...